{% extends 'header&footer/base.html' %}
{% block title %}{{ next_question.meta_title }} | {% endblock %}
{% block headblock %}
<!-- Meta Tags for SEO -->
<meta name="description" content="{{ next_question.meta_description }}">
<meta name="keywords" content="{{ next_question.meta_keyword }}">
    <style>
        /* Custom Radio Button Styles */
        .custom-radio {
            border: 2px solid black;
        }

        .custom-radio:checked {
            border-color: #28a745 !important;
        }

        .custom-radio:checked:before {
            background-color: #28a745 !important;
        }
        /* subcategory style */
        ul li:hover{background-color:#2E8B57 ; color: white;box-shadow: 0 0 20px #2E8B57 !important;}
        /* End subcategory style */
        /* Timer and Progress Bar Styling */
        #timeTracker {
            font-size: 16px;
            color: #ff0000;
            font-weight: bold;
        }
        .card{box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);}
        #timeProgressBar {
            width: 100%;
            height: 25px;
            background-color: #ddd;
        }
        
        #timeProgressBar div {
            height: 100%;
            background-color: #28a745;
            width: 100%;
        }
        </style>
{% endblock %}
{% block content %}
<div class="row mx-1 mb-2 pt-3"style="margin-top: 55px;">
    <h5 class="mb-3 fw-bold">Question by Category : {{category.name}}</h5>
    <!-- question section -->
    <div class="col-md-8 mb-3">
        {% if next_question %}
        <div class="card" style="border: 1px solid black;">
            <div class="card-body mx-3">
                <!-- Display Category Information -->
                <p>
                    <div style="font-size: 15px; display: inline-block;"><strong>Category:</strong> {{ category.name }}</div>
                    <span>&nbsp;|&nbsp;</span>
                    <div id="timeTracker" class="float-right" style="display: inline-block;">Time Remaining: <span id="timer">30</span> seconds</div>
                </p>

                <!-- Timer Progress Bar -->
                <div class="progress" id="timeProgressBar">
                    <div id="progressBar" class="progress-bar bg-success" role="progressbar" style="width: 100%;"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <hr style="border: 2px solid black;">
                <!-- Display Question -->
                <p style="font-size: 17px; font-weight: 600;" class="card-title">{{ next_question.question }}</p>

                <!-- Options Form -->
                <form id="quizForm">
                    {% for option in options %}
                    <div class="form-check">
                        <input class="form-check-input custom-radio" type="radio" name="mcq_option"
                            id="option{{ forloop.counter }}" value="{{ option }}" />
                        <label class="form-check-label" for="option{{ forloop.counter }}">
                            {% if forloop.counter == 1 %}A{% elif forloop.counter == 2 %}B{% elif forloop.counter == 3 %}C{% elif forloop.counter == 4 %}D{% endif %}. {{ option }}
                        </label>
                    </div>
                    {% endfor %}
                </form>

                <!-- Answer Message and Explanation Section -->
                <div id="answer-container" class="mt-4" style="display: none;">
                    <div id="answer-message" class="alert alert-info">
                        <span id="correct-answer"></span>
                    </div>
                    <div id="explanation-message" style="margin-top: 10px; display: none;">
                        <strong>Explanation: </strong>{{ next_question.explanation|safe }}
                    </div>
                </div>

                <!-- Buttons -->
                <button type="button" id="submitBtn" class="btn btn-success form-control mt-3">Submit</button>
                <button type="button" id="nextBtn" class="btn btn-success form-control mt-3" style="display:none;">Next</button>
                <a href="{% url 'endpractice' %}" class="btn btn-danger form-control mt-3" id="endPracticeBtn">End Practice</a>
            </div>
        </div>
    </div>
    {% else %}
    <h5>There are no questions available in this category!</h5>
    {% endif %}
    <!-- end question section -->
   <!--  sub Category Sidebar -->
   <div class="col-md-4">
    <h5 class="mb-3 text-center">Sub Categories</h5>
    <ul class="list-group">
        {% for subcategory in category.subcategories.all %}
        <a href="{% url 'sub-category-wise-question' subcategory.slug %}" class="fw-bold text-decoration-none text-success">
            <li class="list-group-item text-center mt-1" style="border: 1px solid black; border-radius: 5px;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);">
                <p style="margin: 2px 0;">{{ subcategory.name }}</p>
            </li>
        </a>
        {% endfor %}
    </ul>
    
</div>
<!-- end sub category sidebar -->
</div>

<script>
    var selectedAnswer = null;
    var timerInterval;
    var timeRemaining = 30; // Initial time in seconds
    var timerElement = document.getElementById('timer');
    var progressBar = document.getElementById('progressBar');

    // Countdown Timer Function
    function updateTimer() {
        if (timeRemaining > 0) {
            timeRemaining--;
            timerElement.textContent = timeRemaining; // Update time remaining
            progressBar.style.width = (timeRemaining / 30) * 100 + '%'; // Update progress bar with full 30 seconds
        } else {
            clearInterval(timerInterval); // Stop timer
            moveToNextQuestion(); // Automatically move to next question when time is up
        }
    }

    // Start timer countdown when the page loads
    timerInterval = setInterval(updateTimer, 1000);

    // Handle option selection
    document.querySelectorAll('input[name="mcq_option"]').forEach(function (radio) {
        radio.addEventListener('change', function () {
            selectedAnswer = this.value;
        });
    });

    // Submit button functionality
    document.getElementById("submitBtn").addEventListener("click", function () {
        if (selectedAnswer === null) {
            alert("Please select an answer before submitting.");
        } else {
            // Stop the timer when the answer is submitted
            clearInterval(timerInterval);

            // Show the answer explanation after submission
            var explanationMessage = document.getElementById("explanation-message");
            var answerContainer = document.getElementById("answer-container");
            var answerMessage = document.getElementById("answer-message");
            var correctAnswerLabel = document.getElementById("correct-answer");

            explanationMessage.style.display = 'block';
            answerContainer.style.display = 'block';

            var correctAnswer = "{{ next_question.correct_answer }}";

            if (selectedAnswer === correctAnswer) {
                correctAnswerLabel.innerHTML = 'Correct!';
                answerMessage.classList.remove('alert-info', 'alert-danger');
                answerMessage.classList.add('alert-success');
                answerMessage.style.backgroundColor = '#4acf85';
                answerMessage.style.color = 'black';
            } else {
                correctAnswerLabel.innerHTML = "Incorrect! The correct answer is: " + correctAnswer;
                answerMessage.classList.remove('alert-info', 'alert-success');
                answerMessage.classList.add('alert-danger');
                answerMessage.style.backgroundColor = '#dc3545';
                answerMessage.style.color = 'white';
            }

            // Hide submit button, show next and end practice buttons
            document.getElementById("submitBtn").style.display = 'none';
            document.getElementById("nextBtn").style.display = 'block';
            document.getElementById("endPracticeBtn").style.display = 'block';

            // Send selected answer to the backend
            var data = {
                selected_answer: selectedAnswer,
                correct_answer: "{{ next_question.correct_answer }}",
                question_id: "{{ next_question.id }}"
            };

            fetch("{% url 'update-session-results' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data.status);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    });

    // Next button functionality
    document.getElementById("nextBtn").addEventListener("click", function () {
        fetchNextQuestion();
    });

    // Automatically move to next question when time expires
    function moveToNextQuestion() {
        fetchNextQuestion();
    }

    function fetchNextQuestion() {
        var nextQuestionURL = "{% url 'category-wise-question' slug=category.slug %}?current_question={{ next_question.id }}";
        fetch(nextQuestionURL)
            .then(response => response.json())
            .then(data => {
                if (data.next_question) {
                    window.location.href = nextQuestionURL;
                } else {
                    window.location.href = "{% url 'endpractice' %}";
                }
            })
            .catch(error => {
                console.error('Error:', error);
                window.location.href = "{% url 'endpractice' %}";
            });
    }
</script>

{% endblock %}
