{% extends 'header&footer/base.html' %}
{% block content %}

<head>
  <title>Amardeep Kumar | Author Details</title>
</head>

<body style="margin-top: 60px">

  <div class="container" style="margin-bottom: 10px; background-color: white; text-align: justify;">
    <div class="container">
      <div class="author-header text-center pt-3">
        <h1>Author Details</h1>
      </div>

      <div class="author-details">
        <p><strong>Name:</strong> Amardeep Kumar Singh</p>
        <p><strong>Qualification:</strong> Graduate (Mathematics, Philosophy)</p>
      </div>

      <div class="author-bio">
        <p><strong>About the Author:</strong></p>
        <p>Hi, I’m <strong>Amardeep Kumar Singh</strong>, and I’m passionate about helping students crack competitive
          exams with confidence. Having spent years diving into the world of General Knowledge (GK), General Studies
          (GS), and various competitive exam topics, I’ve seen firsthand how the right resources can make all the
          difference in exam preparation.</p>
        <p>Through my website, I aim to make studying for exams a bit less stressful and a lot more effective. From quiz
          challenges to practice questions and mock tests, I’ve created a variety of tools that help you build your
          knowledge and improve your skills. Whether you’re working through tricky GK facts or preparing for a major
          exam like UPSC, SSC, State Exams, Police, etc. I’ve got you covered with easy-to-follow study guides, topic-focused resources, and
          plenty of test series to help you stay on track.</p>
        <p>I believe that learning should be an ongoing journey, so I’m always looking for ways to make studying more
          engaging and accessible. My goal is to help you stay motivated and empowered, so you can approach each exam
          with the confidence that you’ve prepared the right way.</p>
        <p class="pb-4">Let’s make your competitive exam journey a success — together!</p>
      </div>
    </div>
  </div>

  {% endblock %}