{% extends 'header&footer/base.html' %}
{% load widget_tweaks %}
{% block title %}Contact-us {% endblock %}
{% block content %}

    <div class="row">
        <h2 class="text-center my-1" style="padding-top: 40px;">
            <a href="{% url 'contact' %}" class="text-decoration-none text-success"><strong>Contact Us</strong></a>
        </h2>
        <!-- Contact Details Info - First Column -->
        <div class="col-md-12 mb-4">
            <ul style="list-style-type: none; padding: 58px 20px 58px 20px; border-radius: 6px; border: 1px solid #2E8B57;"
                class="bg-white text-center">
                <!-- Company Name -->
                <li class="mb-3" style="font-size: 30px; font-weight: 600; color: #2E8B57;">Crampt</li>
        
                <!-- Contact Info -->
                <li class="mb-3">
                    We’d love to hear from you! If you have any questions, suggestions, or feedback, <br> feel free to
                    reach out.
                </li>
        
                <!-- Email Section -->
                <li class="mb-3">
                    <i class="fas fa-envelope text-success me-2"></i>
                    <strong>
                        <a href="mailto:krajaisoft@gmail.com" class="text-decoration-none text-success">
                            krajaisoft@gmail.com
                        </a>
                    </strong>
                </li>
        
                <!-- Phone Section -->
                <li class="mb-3">
                    <i class="fas fa-phone-alt text-success me-2"></i>
                    <strong>
                        <a href="tel:+918271610779" class="text-decoration-none text-success">
                            +91 8271610779
                        </a>
                    </strong>
                </li>
        
                <!-- Address Section -->
                <li class="mb-3">
                    <i class="fas fa-map-marker-alt text-success me-2"></i>
                    For more detailed inquiries or collaborations:
                    <strong>
                        <a href="https://www.google.com/maps/place/Pandav+Nagar,+Lakshmi+Nagar,+Delhi+110092,+IND"
                            target="_blank" class="text-decoration-none text-success">
                            Pandav Nagar, Lakshmi Nagar, Delhi 10009, IND
                        </a>
                    </strong>
                </li>
            </ul>
        </div>
        
        <!-- Contact Form - Second Column -->
        <div class="col-md-12 mb-4">
            <h4 class="text-center" style="color: #2E8B57;"><strong>Get in Touch with Us</strong></h4>
            <form action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                <!-- Name Field -->
                <label for="{{ form.name.id_for_label }}"><strong>Name</strong></label>
                {{ form.name|add_class:"form-control" |attr:"style: border: 1px solid green;" }}
                {% for error in form.name.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
                <!-- Phone Field -->
                <label for="{{ form.phone.id_for_label }}" class="py-1"><strong>Phone</strong></label>
                {{ form.phone|add_class:"form-control" |attr:"style: border: 1px solid green;" }}
                {% for error in form.phone.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
                <!-- Email Field -->
                <label for="{{ form.email.id_for_label }}" class="py-1"><strong>Email</strong></label>
                {{ form.email|add_class:"form-control" |attr:"style: border: 1px solid green;" }}
                {% for error in form.email.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
                <!-- Subject Field -->
                <label for="{{ form.subject.id_for_label }}" class="py-1"><strong>Subject</strong></label>
                {{ form.subject|add_class:"form-control" |attr:"style: border: 1px solid green;" }}
                {% for error in form.subject.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
                <!-- Message Field -->
                <label for="{{ form.message.id_for_label }}" class="py-1"><strong>Message</strong></label>
                {{ form.message|add_class:"form-control" |attr:"style: border: 1px solid green;" }}
                {% for error in form.message.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
                <!-- Submit Button -->
                <input type="submit" value="Send Message" class="btn btn-success mt-4 mb-3 form-control">
            </form>
        </div>
        <!-- Google Map - Third Column -->
        <div class="col-md-12 mt-2">
            <h4 class="text-center mb-3" style="color: #2E8B57;"><strong>Our Location</strong></h4>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2991.9356989990724!2d77.28243860702014!3d28.617186981911036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1740322616191!5m2!1sen!2sin"
                width="100%" height="500" style="border:solid #2E8B57 3px; border-radius: 5px;" allowfullscreen=""
                loading="lazy"></iframe>
        </div>
    </div>

{% endblock %}