{% extends 'header&footer/base.html' %}
{% block content %}
{% block title %}Privacy Policy | {% endblock %}
<div class="mx-4 mb-4">
    <div style="text-align: justify;margin-top: 60px;">
        <h4 class="text-center mt-2"><strong>Policy Policy</strong></h4>
        <div class="mx-4">
            <p><b>Introduction</b></p>

            <p>Welcome to Ram'sBlog. Your privacy is important to us. This Privacy Policy outlines how we collect, use,
                disclose, and protect your personal information when you visit and interact with our blog. By using our
                website, you agree to the practices described in this policy.</p>

            <p><b>Information We Collect</b></p>
            <p><b>Personal Information</b></p>


            <p>When you visit our blog, we may collect personal information that you voluntarily provide, such as:</p>
            <div class="detail ms-3">
                <ul>
                    <li>Name</li>
                    <li>Email Address</li>
                    <li>Phone No</li>
                    <li>Comment Content</li>
                </ul>
            </div>
            <p><b>Non-Personal Information</b></p>

            <p>We also collect non-personal information automatically through cookies and similar technologies,
                including:</p>
            <div class="detail ms-3">
                <ul>
                    <li>Usage Data (e.g., pages visited, time spent)</li>
                </ul>
            </div>
            <p><b>How We Use Your Information</b></p>

            <p>We use the information we collect to:</p>
            <ul>
                <li><b></b>Provide and Improve Our Services: </b>To enhance user experience and deliver relevant
                    content.</li>
                <li><b></b>Communicate with You: </b>and respond to your inquiries.</li>
                <li><b></b>Analyze Usage: </b>To understand how our website is used and improve its functionality.</li>
            </ul>
            <p><b>Third-Party Services</b></p>

            <p>Our blog may include links to third-party websites or services. We are not responsible for the privacy
                practices or content of these external sites. We encourage you to review their privacy policies before
                providing any personal information.</p>

            <p><b>Data Security</b></p>

            <p>We implement reasonable measures to protect your personal information from unauthorized access,
                disclosure, alteration, or destruction. However, no method of transmission over the internet or
                electronic storage is completely secure.</p>

            <p><b>Your Rights and Choices</b></p>

            <p>You have the right to:</p>
            <ul>
                <li>Access and Update Your Information: Request access to and update your personal information.</li>
                <li>Opt-Out: Unsubscribe from newsletters or communications by following the instructions provided in
                    the emails.</li>
                <li>Delete Your Data: Request the deletion of your personal information, subject to legal obligations.
                </li>
            </ul>
            <p><b>Changes to This Privacy Policy</b></p>

            <p>We may update this Privacy Policy from time to time to reflect changes in our practices or legal
                requirements. We will notify you of any significant changes by posting the updated policy on our
                website. Your continued use of our blog constitutes acceptance of the revised policy.</p>

            <p><a href="{% url 'contact' %}" class="text-decoration-none-underline  "><b>Contact Us</b></a>
            </p>

            <p>If you have any questions, concerns, or requests regarding this Privacy Policy, please contact us.</p>
            <p class="text-center mb-3">Thank you for visiting Ram'sBlog!</p>
            <hr>
        </div>
    </div>
</div>
{% endblock %}