{% extends 'header&footer/base.html' %}  

{% block headblock %}
<!-- Meta Tags for SEO -->
<title>Vacancies | CRAMPT</title>
<meta name="description" content="TouchPoint - Job Portal">
<meta name="keywords" content="jobs, career, job openings, TouchPoint">
{% endblock %}

{% block content %}
<div class="container-fluid d-flex align-items-center justify-content-center" 
     style="height: 600px; width: 100%; background-color:white; margin-top:65px ;">
    <div class="text-center">
        <!-- Limited height message -->
        <h1 class="display-4 text-danger" style="font-size: 3rem; font-weight: bold;">This Page is Currently Unavailable</h1>
        <p class="lead" style="font-size: 1.5rem;">We are working on it and will be back soon. Please check again later.</p>
        <p style="font-size: 1rem; color: #6c757d;">We apologize for the inconvenience. Thank you for your patience!</p>
    </div>
</div>
{% endblock %}
